---
const faqItems = [
  {
    question: "Who runs the Good Shepherd Collective?",
    answer:
      "We are a loose collection activists that work in consensus. We're located both in Palestine and abroad.",
  },
  {
    question: "Why was the Good Shepherd Collective founded?",
    answer:
      "The Good Shepherd Collective was founded as a response to the inherent limitations of national and international NGOs. Community organizers wanted to create a structure that challenged the neoliberal though and that centers advocacy on decolonization and antizionist organizing.",
  },
  {
    question: "How is the Good Shepherd Collective funded?",
    answer:
      "We are funded almost exclusively by individual donors. Accepting large donations from neo-liberal institutions often compromises the mission of grassroots movements, aligning them with corporate agenda the interests of the political parties which aim to main systems of explotation. Relying on individual donations fosters genuine community engagement, preserves autonomy, and ensures that advocacy efforts remain aligned with principles of decolonization, antizionism, and liberation.",
  },
  {
    question: "Is the Good Shepherd Collective a NGO?",
    answer:
      "The Good Shepherd Collective (GSC) operates differently from traditional NGOs. While technically an NGO, GSC emphasizes a consensus-driven approach and a non-hierarchical structure. This means we collaborate and make decisions collectively, ensuring that every voice is heard and valued equally, reflecting our commitment to true democratic participation and grassroots activism.",
  },
  {
    question: "Who runs the social media accounts?",
    answer:
      "studiomax wants you to be happy with the results! Hence the unlimited requests.",
  },
  {
    question: "How can you be involved with the Good Shepherd Collective?",
    answer:
      "Unfortunately, not. Because of the intense creative demands for delivering top-notch design and development within tight timeframes and the thorough research invested to achieve the best outcomes, studiomax's cannot provide our services without compensation.<br /><br />However, we understand the importance of client satisfaction. If, after our initial discussion, it turns out that our services do not align with your needs and no work has been initiated, rest assured that you are eligible for a 100% refund. studiomax values transparency and wants our clients to feel confident in their interactions with studiomax's.",
  },
];
---

<section class="md:px-12 sm:px-8">
  <div class="border-x divide-y border-b divide-zinc-800 border-zinc-800">
    <div class="p-8 lg:p-10 gradient-grid">
      <span class="text-white">⏤ questions and answers</span>
      <h2
        class="text-5xl  tracking-wide text-balance md:text-6xl text-white mt-12">
        The answers to the most frequent questions
      </h2>
      <p class="mt-8 text-zinc-400">
        Can't find your answer? Send an <a
          class="text-sky-400 hover:text-white duration-200"
          href="mailto:info@goodshepherdcollective.org"
          >email</a
        > and the Good Shepherd Collective will get back to you.
      </p>
    </div>
    <div class="flex flex-col gap-px bg-zinc-800">
      {
        faqItems.map((item) => (
          <details class=" bg-black">
            <summary class="w-full p-8 lg:px-10 text-left  tracking-wide cursor-pointer text-white focus:text-blue-500">
              {item.question}
            </summary>
            <div class="text-sm text-zinc-400  px-8 pb-8 lg:px-10">
              {item.answer}
            </div>
          </details>
        ))
      }
    </div>
  </div>
</section>
