
<section class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800">
    <div class="grid grid-cols-1 lg:grid-cols-2 bg-zinc-800 gap-px">
      <div class="p-8 lg:px-10 bg-black gradient-grid">
        <h1 class="text-4xl md:text-6xl xl:text-7xl text-white">
          Anti-Zionism as Decolonisation
        </h1>
        <p class="text-zinc-300 font-medium text-xl tracking-wide">
          By Leila Shomali and Lara Kilani
        </p>
        
      </div>
      <ul
        class="grid grid-cols-1 text-zinc-300 font-medium xl:text-3xl text-xl tracking-wide items-end lg:grid-cols-2 gap-px group h-full">
        <div class="p-8 lg:px-10 bg-red-700 h-full">
          <h2 class="text-2xl md:text-4xl xl:text-5xl text-white">
            Defund Racism</h2>
          <p class="text-zinc-300 font-medium text-xl tracking-wide">
            How settler organizations are use international charitable structures to finance indigenous erasure.
          </p>
        </div>
        <div class="p-8 lg:px-10 bg-blue-900 text-black h-full justify-end polka">
          <h2 class="text-2xl md:text-4xl xl:text-5xl text-white">
            Anti-Zionist Allyship</h2>
          <p class="text-zinc-300 font-medium text-xl tracking-wide">
            Antizionist organizing should always be positioned within a praxis of indigenous resistance.
          </p>
        </div>
      </ul>
    </div>
  </div>
</section>


