<section class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800">
    <div class="grid grid-cols-1 lg:grid-cols-2 bg-zinc-800 gap-px">
      <div class="p-8 lg:px-10 bg-black">
        <h1 class="text-4xl md:text-6xl xl:text-7xl text-white">
          Web development subscriptions to scale your business.
        </h1>
      </div>
      <ul
        class="grid grid-cols-1 text-zinc-300 font-medium xl:text-3xl text-xl tracking-wide items-end lg:grid-cols-2 gap-px group h-full">
        <div class="p-8 lg:px-10 bg-green-600 h-full">
          <p>
            Studiomax streamlines the design process with a fixed monthly rate
            and limitless design requests.
          </p>
        </div>
        <div class="p-8 lg:px-10 bg-blue-400 text-black h-full justify-end">
          <p>
            Say goodbye to phone calls and extensive contracts; reach out to
            studiomax directly at any time.
          </p>
        </div>
      </ul>
    </div>
  </div>
</section>
