<section class="md:px-12 sm:px-8">
  <div class="border-x border-b border-zinc-800">
    <h2 class="text-4xl md:text-6xl xl:text-7xl text-white p-10 font-bold">Zionism's data points &cudarrr;</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-px bg-zinc-800 lg:items-end">
      <div class="bg-red-700 p-8 lg:p-10 h-full">
        <span class="text-white">⏤ Franz Fanon, The Wretched of the Earth</span><h2
          class="text-2xl tracking-wide text-balance mt-6 font-light lg:text-4xl text-white">
          Colonialism ‘is the bringer of violence into the home and into the mind of the native’
        </h2>
      </div>
      <div class="p-8 lg:p-10 bg-black h-full gradient-grid">
        <h2 class="text-2xl tracking-wide text-balance mt-6 font-light lg:text-4xl text-white font-semibold">
          The violence of Zionism in numbers</h2>
        <p class="text-base text-white tracking-wide">
          Israel, as a settler-colonial construction, is premised on the elimination of the natives. The violence of Indigenous erasure is animated throughout these structures of the state. This data provides a small subset of the violence enacted to maintain and perpetuate zionism. 
          
        </p>
      </div>
    </div>
  </div>
</section>
