---
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
import WorkEntries from "../work/WorkEntries.astro";
---

<section class="md:px-12 sm:px-8">
  <div class="border-x border-y border-zinc-800">
    <div class="mx-auto 2xl:max-w-7xl items-center w-full">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:items-center gap-px bg-zinc-800">
        <div class="p-8 lg:px-10 bg-black h-full">
          <h2 class="text-3xl tracking-wide xl:text-4xl text-white">
            Recent projects
          </h2><p class="mt-5 text-white tracking-wide">
            Presenting a snapshot of <span>my most recent work.</span>
          </p>
        </div>
        <div class="h-full flex w-full bg-black">
          <a
            href="/work/home"
            class="flex mx-auto p-8 lg:px-20 w-full justify-between h-full focus:ring-2 bg-zinc-800 rounded-full text-white ease-in-out transform duration-500 ring-inset ring-zinc-800 hover:bg-black text-2xl items-center ring-2"
            >See more work <span>➜</span></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<section class="md:px-12 sm:px-8">
  <div class="border-x border-b border-zinc-800">
    <div class="grid grid-cols-1 list-none md:grid-cols-4 gap-px bg-zinc-800">
      {
        allPosts.slice().map((post) => (
          <WorkEntries
            url={"/work/" + post.slug}
            company={post.data.company}
            work={post.data.work}
            alt={post.data.company}
            logo={post.data.logo.url}
          />
        ))
      }
    </div>
  </div>
</section>
