---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { fetchGSCblog } from '../../utils/fetchGSCblog';

interface Post {
  id: number;
  link: string;
  title: string;
  content: string;
  formattedDate: string;
  readingTime: number;
  featuredImage: string;
  slug: string;
  author: string;
  excerpt: string;
  category: string;
  tags: string;
}

export async function getStaticPaths() {
  const posts = await fetchGSCblog();
  return posts.map(post => ({
    params: { slug: post.slug }, props: { post }
  }));
}

const { slug } = Astro.params;
const posts = await fetchGSCblog();
const post = posts.find((post: Post) => post.slug === slug);

if (!post) {
  throw new Error(`Post with slug "${slug}" not found`);
}

const { title, content, formattedDate, readingTime, featuredImage, author, excerpt, category, tags } = post;
const frontmatter = {
  title,
  date: formattedDate,
  readingTime,
  featuredImage,
  author,
  excerpt,
  category,
  tags
};
---
<BlogLayout { ...frontmatter }>
  <div set:html={content}></div> <!-- Use set:html to render the content -->
</BlogLayout>
