---
import ServicesEntries from "@/components/services/ServicesEntries.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("services");
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-800 divide-y divide-zinc-800">
      <div class="grid grid-cols-1 lg:grid-cols-2 bg-zinc-800 gap-px">
        <div class="p-8 lg:px-10 bg-blue-400">
          <h2
            class="text-5xl tracking-tighter font-normal md:text-6xl text-white">
            Our Services
          </h2>
        </div>
        <div class="flex flex-col gap-px bg-black">
          {
            allPosts.map((post) => (
              <ServicesEntries
                url={"/services/" + post.slug}
                service={post.data.service}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
