---
const devwork = [
  "Components",
  "Blogs",
  "Design to code",
  "Landing pages",
  "Website templates",
  "Convert to Tailwind CSS",
  "Convert to Astro",
];
const designwork = [
  "Redesigns",
  "Refactors",
  "Components",
  "Landing pages",
  "Full website",
  "Open Graphs",
  "Social media assets",
];
---

<section class="md:px-12 sm:px-8">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-px bg-zinc-800 lg:grid-cols-4 border-zinc-800 border-x border-b">
    <div class="col-span-full lg:col-span-2 ">
      <div class="w-full h-full items-center inline-flex p-8 lg:px-10">
        <h2 class="text-4xl tracking-wide  md:text-5xl xl:text-7xl text-white">
          Exploring a diverse range of services to elevate your brand presence
        </h2>
      </div>
    </div>
    <div class="bg-black">
      <div
        class="p-8 inline-flex items-center border-b bg-green-600 border-zinc-800 w-full">
        <p class="text-2xl text-white    ">Design</p>
      </div>
      <div class="divide-y divide-zinc-800">
        {
          designwork.map((item) => (
            <div class="px-8 py-4 ">
              <p class="f  text-zinc-400 text-sm">⏤{item}</p>
            </div>
          ))
        }
      </div>
    </div>
    <div class="bg-black">
      <div
        class="p-8 inline-flex items-center border-b bg-blue-400 border-zinc-800 w-full">
        <p class="text-2xl text-white    ">Development</p>
      </div>
      <div class="divide-y divide-zinc-800">
        {
          devwork.map((item) => (
            <div class="px-8 py-4 ">
              <p class="f  text-zinc-400 text-sm">⏤{item}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
