/* src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astro-code-color-text: theme(textColor.zinc.400);
  --astro-code-color-background: theme(textColor.zinc.900);
  --astro-code-token-constant: theme(textColor.violet.400);
  --astro-code-token-string: theme(textColor.zinc.400);
  --astro-code-token-comment: theme(textColor.zinc.500);
  --astro-code-token-keyword: theme(textColor.white);
  --astro-code-token-parameter: theme(textColor.violet.200);
  --astro-code-token-function: theme(textColor.green.300);
  --astro-code-token-string-expression: theme(textColor.blue.400);
  --astro-code-token-punctuation: theme(textColor.green.400);
  --astro-code-token-link: theme(textColor.white);
}

.prose-styles {
  @apply text-zinc-400 hover:prose-a:text-white max-w-7xl mx-auto prose prose-a:italic prose-a:text-white prose-headings:font-medium prose-pre:border prose-pre:border-zinc-800 prose-headings:text-white prose-strong:text-white prose-img:border prose-img:border-zinc-800 prose-img:rounded-3xl prose-img:bg-zinc-800 prose-blockquote:text-blue-300 prose-blockquote:border-zinc-800 prose-blockquote:border-l-2 prose-code:text-white prose-table:border-zinc-800;
}

.blog-styles {
  @apply text-zinc-800 max-w-7xl mx-auto prose prose-xl;

  /* Apply serif font for blog content */
  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, strong, em, i, b {
    @apply font-serif;
  }

  /* Keep tables sans-serif */
  table {
    @apply font-sans;
  }

  /* Make fonts slightly larger */
  @apply prose-xl;

  /* Adjust <a> elements */
  a {
    color: theme('colors.zinc.700');
    font-weight: 600;
    text-decoration: underline;
    position: relative;
    transition: color 0.3s; /* Transition for the text color (optional) */
  
   
  
    &:hover {
      
      background-color: #feffd6; /* Underline color on hover */
    }
  }
}

.gradient-grid {
  background-image: radial-gradient(circle at center center, transparent 0%, rgba(255, 255, 255, 0) 99%), repeating-linear-gradient(0deg, rgba(205, 205, 205, 0) 1px, rgba(205, 205, 205, 0.042) 1.5px, transparent 1.5px, transparent 6px), repeating-linear-gradient(90deg, rgba(205, 205, 205, 0) 0px, rgba(205, 205, 205, .2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, #fff0, #fff0);
}

.gradient-grid-bigger {
  background-image: radial-gradient(circle at center center, transparent 0%, rgba(255, 255, 255, 0) 99%),
    repeating-linear-gradient(0deg, rgba(185, 185, 185, 0) 10px, rgba(185, 185, 185, 0.06) 10px, transparent 10px, transparent 20px),
    repeating-linear-gradient(90deg, rgba(185, 185, 185, 0) 10px, rgba(185, 185, 185, 0.25) 11px, transparent 11px, transparent 20px),
    linear-gradient(90deg, #fff0, #fff0);

    box-shadow: inset 0px -1.5px 0px 0px #ffffff;

}

.move-down {
  position: relative;
  top: rem; /* Adjust this value as needed */
}

.diagonal-stripes {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.28' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.polka {
  background-image: radial-gradient(#ffffff18 1.2px, #fefefe00 1.2px);
  background-size: 5px 5px;
}

.highlight {
  text-decoration: underline;
  text-decoration-color: goldenrod;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.highlight-red {
  text-decoration: underline;
  text-decoration-color: rgb(127, 13, 1);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.copy-icon{
  width: 15px;
  height: 15px;
}

button:hover .copy-icon {
  filter: brightness(0) saturate(100%) invert(82%) sepia(8%) saturate(1562%) hue-rotate(180deg) brightness(106%) contrast(98%);
}

/* table styles beging */


  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
  }

  .average[data-after]::after {
    content: attr(data-after);
    margin-left: 10px;
  }

  .average {
    text-align: center;
  }

  .value {
    width: 80px;
    text-align: left;
  }

  .canvas-wrapper {
    width: 300px; /* Default width */
    max-width: 100%; /* Allow scaling up to 100% */
  }

  .canvas {
    height: 60px !important;
  }

  .percentage {
    font-weight: 600;
  }

  th {
    text-align: left;
  }

  td {
    border-bottom: 1px solid #333;
  }

  .line-chart-style {
    width: 300px;
    max-width: 100%;

    border-left: 0.75px solid #333;
  }

  .table-title{
    max-width: 300px;
}
.wide-table-columan{
    min-width: 350px;
}
.data-table img{
    height: 20px;
    width: 20px;
    margin: 0 auto;
}

.table-icon{
    max-width: 60px;
}

.mobile-only{
  display: none;
}

  @media screen and (max-width: 768px) {
    .data__table {
      margin-top: 1rem;
    }
    .average {
      text-align: left;
    }
.value{
  width: 100%;
}
    .canvas-wrapper {
      width: 100%; /* Full width at media breakpoint */
    }

    .line-chart-style {
      width: 100%;
      max-width: 100%;
    }

    th {
      display: none !important;
      
    }

    td {
      display: grid !important;
      grid-template-columns: 9ch auto;
    }

    td:first-child {
      padding-top: 1rem;
    }

    td:last-child {
      padding-bottom: 0rem;
    }

    td::before {
      content: attr(data-cell) ": ";
      font-weight: 700;  
    }
.trend{
  border-bottom: 2px solid #333;
}
    .trend::before {
      content: "Trend";
    }

    .aggregate td {
      font-weight: 700;
      border-bottom: none;
    }

    .aggregate td:last-child {
      border-bottom: #222 solid 2px;
    }
    .aggregate td:first-child {
      display: none !important;
    }

    .aggregate td:nth-child(2) {
      padding-top: 1rem;
      border-top: #222 solid 2px;
    }

    .average[data-after]::after {
      content: "";
      margin-left: 10px;
    }
.hide-on-mobile{
  display: none;
}

.mobile-only{
  display: block;
}
    .data-table img{
      display: none;
  }
  .last{
    border-bottom: 3px #222 solid;
    padding-bottom: 1.15rem !important;
  }
  
  }

