@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --astro-code-color-text: theme(textColor.zinc.400);;
  --astro-code-color-background: theme(textColor.zinc.900);;
  --astro-code-token-constant: theme(textColor.violet.400);;
  --astro-code-token-string: theme(textColor.zinc.400);;
  --astro-code-token-comment: #theme(textColor.zinc.500);;
  --astro-code-token-keyword: theme(textColor.white);;
  --astro-code-token-parameter:theme(textColor.violet.200);;
  --astro-code-token-function: theme(textColor.green.300);;
  --astro-code-token-string-expression: theme(textColor.blue.400);;
  --astro-code-token-punctuation: #theme(textColor.green.400);;
  --astro-code-token-link: theme(textColor.white);;
}

.prose-styles {
  @apply text-zinc-400
  hover:prose-a:text-white max-w-7xl  mx-auto prose prose-a:italic prose-a:text-white prose-headings:font-medium  prose-pre:border prose-pre:border-zinc-800 prose-headings:text-white prose-strong:text-white prose-img:border prose-img:border-zinc-800  prose-img:rounded-3xl  prose-img:bg-zinc-800 prose-blockquote:text-blue-300 prose-blockquote:border-zinc-800 prose-blockquote:border-l-2 prose-code:text-white prose-table:border-zinc-800 ;
}

.gradient-grid {
  background-image: radial-gradient(circle at center center, transparent 0%, rgba(255, 255, 255, 0) 99%), repeating-linear-gradient(0deg, rgba(205, 205, 205, 0) 1px, rgba(205, 205, 205, 0.042) 1.5px, transparent 1.5px, transparent 6px), repeating-linear-gradient(90deg, rgba(205, 205, 205, 0) 0px, rgba(205, 205, 205, .2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, #fff0, #fff0);
}