---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getGazaDestructionData } from "@/utils/gaza-destruction.js";

const gazaDestructionData = await getGazaDestructionData();
const gazaDestructionDate = gazaDestructionData.formattedGazaDestructionDate;

---

<BaseLayout
  isBlogPost={true}
  title="Demolition Data Report"
  description="Demolition data report for the specified region."
>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-200 p-8">
      <div style="max-width: 55rem; margin: 0 auto;">
        <h1
          class="text-4xl md:text-6xl xl:text-7xl font-semibold"
          style="margin-bottom: 2.5rem; margin-top: 4.5rem;"
        >
          Data Setss
        </h1>
        <h2 class="text-2xl mb-4 highlight-red">Here are some of the critical data points for your advocacy</h2>
        
        <h3 class="text-2xl font-semibold mt-8 text-zinc-800">Data for </h3>
        
        <table class="data-table">
          <thead>
            <tr class="header border-y border-zinc-800">
              <th class="table-title mr-4">Category</th>
              <th class="wide-table-columan mr-4">Details</th>
              <th class="average">Updated</th>
              <th class="average table-icon ">CSV</th>
              <th class="average table-icon ">Excel</th>
              <th class="average table-icon ">API</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-cell="Category" class="py-4">Gaza Destruction</td>
              <td data-cell="Details" class="value py-4">
                This dataset provides a broad overview of the structural damage as a result of the ongoing genocide in Gaza.
              </td>
              <td data-cell="Updated" class="average py-4" id="Gaza_destruction">{gazaDestructionDate}</td>
              <td data-cell="CSV" class="average py-4"><a href="#"><img class="hide-on-mobile" src="/images/black-download.svg"><p class="mobile-only">Download</p></a></td>
              <td data-cell="Excel" class="average py-4"><a href="#"><img class="hide-on-mobile" src="/images/black-download.svg"><p class="mobile-only">Download</p></a></td>
              <td data-cell="API" class="average py-4 last"><a href="#"><img class="hide-on-mobile" src="/images/Json.svg"><p class="mobile-only">Link</p></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</BaseLayout>

