---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  isBlogPost={true}
  title="Demolition Data Report"
  description="Demolition data report for the specified region."
>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-200 p-8">
      <div style="max-width: 55rem; margin: 0 auto;">
        <h1
          class="text-4xl md:text-6xl xl:text-7xl font-semibold"
          style="margin-bottom: 2.5rem; margin-top: 4.5rem;"
        >
          Data Sets
        </h1>
        <h2 class="text-2xl mb-4 highlight-red">Here are some of the critical data points for your advocacy</h2>
        
        <h3 class="text-2xl font-semibold mt-8 text-zinc-800">Data for </h3>
        
        <table class="data-table">
          <thead>
            <tr class="header border-y border-zinc-800">
              <th class="table-title">Category</th>
              <th class="wide-table-columan">Description</th>
              <th class="average">Updated</th>
              <th class="average table-icon">CSV</th>
              <th class="average table-icon">Excel</th>
              <th class="average table-icon">API</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-cell="Category">Gaza Destruction</td>
              <td data-cell="Description" class="value">
                This dataset provides a broad overview of the structural damage as a result of the ongoing genocide in Gaza.
              </td>
              <td data-cell="Last updated" class="average" id={`Gaza_destruction`}>12.12.2024</td>
              <td data-cell="CSV Download" class="average"><a href="#"><img class="download" src="/images/black-download.svg"></a></td>
              <td data-cell="Excel Download" class="average"><a href="#"><img class="download" src="/images/black-download.svg"></a></td>
              <td data-cell="JSON API Endpoint" class="average"><a href="#"><img class="download" src="/images/Json.svg"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</BaseLayout>

<style>
    .table-title{
        max-width: 300px;
    }
    .wide-table-columan{
        min-width: 350px;
    }
    .download{
        height: 20px;
        width: 20px;
        margin: 0 auto;
    }

    .table-icon{
        max-width: 60px;
    }
</style>