---
import { getCollection } from "astro:content";
const allPosts = await getCollection("work");
import BaseLayout from "@/layouts/BaseLayout.astro";
import WorkEntries from "@/components/work/WorkEntries.astro";
---

<BaseLayout>
  <section class="md:px-12 sm:px-8">
    <div class="border-x border-zinc-800 divide-y divide-zinc-800">
      <div class="p-8 lg:p-10 bg-black">
        <h2
          class="text-5xl tracking-tighter font-normal md:text-6xl text-white">
          Selected work
        </h2>
      </div>
      <div class="grid grid-cols-1 list-none md:grid-cols-2 gap-px bg-zinc-800">
        {
          allPosts.slice().map((post) => (
            <WorkEntries
              url={"/work/" + post.slug}
              company={post.data.company}
              work={post.data.work}
              alt={post.data.company}
              logo={post.data.logo.url}
            />
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
