<section class="md:px-12 sm:px-8 text-zinc-400">
  <div class="border-x border-zinc-800">
    <div>
      <div class="p-8 lg:px-10">
        <h2 class="text-5xl text-white">Overview</h2>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12 p-8 lg:px-10">
        <div class="space-y-4">
          <div class="text-2xl text-white">Landing Page</div>
          <div>
            <a
              title="link to your page"
              aria-label="your label"
              href="/"
              >Home
            </a>
          </div>
        </div>


        <div class="space-y-4">
          <div class="text-2xl text-white">System pages</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/system/style-guide"
              >Style Guide</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="https://lexingtonthemes.com/license.html"
              >License</a
            >
          </div>
        </div>

        <div class="space-y-4">
          <div class="text-2xl text-white">Forms</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/contact"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-zinc-800">
      <div class="p-8 lg:px-10">
        <h2 class="text-5xl text-white">Content collections</h2>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12 p-8 lg:px-10">
        <div class="space-y-4">
          <div class="text-2xl text-white">Blog</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/blog/blog-one"
              >Blog home 1</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/blog/blog-two"
              >Blog home 2</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/posts/1"
              >Blog Post</a
            ><a
              title="link to your page"
              aria-label="your label"
              href="/tags"
              >Tags Index</a
            ><a
              title="link to your page"
              aria-label="your label"
              href="/tags/HTML"
              >Tags category
            </a><a
              title="link to your page"
              aria-label="your label"
              href="/rss.xml"
              >RSS</a
            >
          </div>
        </div>
        <div class="space-y-4">
          <div class="text-2xl text-white">Work</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/work/home"
              >Work home
            </a>
            <a
              title="link to your page"
              aria-label="your label"
              href="/work/1"
              >Work details
            </a>
          </div>
        </div>
        <div class="space-y-4">
          <div class="text-2xl text-white">Utility pages</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/infopages/dpa  "
              >DPA</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/infopages/faq"
              >FAQ</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/infopages/cookies"
              >Cookies</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/infopages/terms"
              >Terms Of use</a
            ><a
              title="link to your page"
              aria-label="your label"
              href="/infopages/privacy"
              >Privacy Policy</a
            ><a
              title="link to your page"
              aria-label="your label"
              href="/404"
              >404</a
            >
          </div>
        </div>
        <div class="space-y-4">
          <div class="text-2xl text-white">Services</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/services/home  "
              >Services home</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/services/product-design"
              >Services details</a
            >
          </div>
        </div>
        <div class="space-y-4">
          <div class="text-2xl text-white">Team</div>
          <div class="gap-4 hover:*:text-blue-400 flex-col flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="/team/home  "
              >Team home</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/services/1"
              >Team details</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
