<section class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800">
    <div class="mx-auto items-start w-full">
      <div
        class="grid grid-cols-1 lg:grid-cols-2 items-start bg-blue-800 gap-px">
        <div class="p-8 lg:px-10 bg-green-600 h-full flex flex-col justify-between">
          <h1 class="text-4xl md:text-6xl xl:text-7xl text-white">
            We'd Love to Hear from You
          </h1>
          <p class="mt-8 text-base font-medium text-white tracking-wide">
            Thank you for your interest in reaching out to us. We value your
            feedback, inquiries, and suggestions. Our dedicated team is here to
            assist you and ensure that your experience with our platform is
            exceptional.
          </p>
        </div>
        <form class="bg-zinc-800 space-y-px">
          <div>
            <label
              for="name"
              class="sr-only"
              >Your name</label
            >
            <input
              id="name"
              name="name"
              type="text"
              autocomplete="name"
              aria-required="true"
              placeholder="Your name"
              required
              class="block w-full appearance-none border border-none p-8 lg:px-10 bg-black  placeholder-zinc-500 text-white  focus:outline-none focus:ring-green-600  focus:ring-2 ring-inset"
            />
          </div>
          <div>
            <label
              for="companyname"
              class="sr-only"
              >Company name</label
            >
            <input
              id="companyname"
              name="companyname"
              type="text"
              aria-required="true"
              placeholder="Company name"
              required
              class="block w-full appearance-none border border-none p-8 lg:px-10 bg-black  placeholder-zinc-500 text-white  focus:outline-none focus:ring-green-600  focus:ring-2 ring-inset"
            />
          </div>
          <div>
            <label
              for="phone"
              class="sr-only"
              >Phone number</label
            >
            <input
              id="phone"
              name="phone"
              type="tel"
              aria-required="true"
              placeholder="Your phone"
              required
              class="block w-full appearance-none border border-none p-8 lg:px-10 bg-black  placeholder-zinc-500 text-white  focus:outline-none focus:ring-green-600  focus:ring-2 ring-inset"
            />
          </div>
          <div>
            <label
              for="email-address"
              class="sr-only"
              >Email address</label
            >
            <input
              id="email-address"
              name="email-address"
              type="email"
              autocomplete="email"
              placeholder="Your email"
              required
              aria-required="true"
              class="block w-full appearance-none border border-none p-8 lg:px-10 bg-black  placeholder-zinc-500 text-white  focus:outline-none focus:ring-green-600  focus:ring-2 ring-inset"
            />
          </div>

          <div>
            <label
              for="message"
              class="sr-only"
              >Your message</label
            >
            <textarea
              id="message"
              name="message"
              placeholder="Your message (optional)"
              rows="8"
              class="block w-full appearance-none border border-none p-8 lg:px-10 bg-black  placeholder-zinc-500 text-white  focus:outline-none focus:ring-green-600  focus:ring-2 ring-inset"
            ></textarea>
          </div>

          <div class="bg-black">
            <button
              type="submit"
              class="text-2xl h-24 px-8 lg:h-32 lg:px-20 focus:ring-2 rounded-full hover:bg-green-600 ease-in-out transform duration-500 ring-inset ring-green-600 inline-flex items-center font-medium     bg-black text-white justify-between ring-2 hover:ring-green-600 w-full">
              Contact us <span>➜</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
