<section class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800">
    <div class="p-8 lg:p-10 bg-blue-400 h-full">
      <h2 class="text-5xl tracking-wide text-balance md:text-6xl text-white">
        Ready to elevate your design and development game?
      </h2>
      <p class="mt-8 text-base text-white tracking-wide">
        Subscribe now and enjoy the flexibility of the monthly plan - pay only
        when you need it!
      </p>
    </div>
    <div class="border-t border-zinc-800">
      <a
        href="#_"
        title="link to your page"
        aria-label="your label"
        class="text-2xl h-24 px-8 lg:h-32 lg:px-20 focus:ring-2 rounded-full hover:bg-green-600 ease-in-out transform duration-500 ring-inset ring-green-600 inline-flex items-center font-medium     bg-black text-white justify-between ring-2 hover:ring-green-600 w-full"
        >Get started today
        <span>➜</span>
      </a>
    </div>
  </div>
</section>
