<section class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800">
    <div class="p-8 lg:p-10 bg-black gradient-grid h-full">
      <h2 class="text-5xl tracking-wide text-balance md:text-6xl text-white">
        Will you invest a free and <span class="highlight">liberated</span> future?
      </h2>
      <p class="mt-8 text-base text-white tracking-wide">
        The Good Shepherd Collective relies on the financial support of individuals such as yourself to sustain and expand this critical work.
      </p>
    </div>
    <div class="border-t border-zinc-800">
      <a
        href="/donate"
        title="link to your page"
        aria-label="your label"
        class="text-2xl h-24 px-8 lg:h-32 lg:px-20 focus:ring-2 rounded-full hover:bg-red-700 ease-in-out transform duration-500 ring-inset ring-red-700 inline-flex items-center font-medium  bg-black text-white justify-between ring-2 hover:ring-red-700 w-full"
        >Join us today
        <span>➜</span>
      </a>
    </div>
  </div>
</section>
