<footer class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800 border-t">
    <ul
      role="list"
      class="text-base gap-px  flex-col text-zinc-400 grid grid-cols-2 xl:grid-cols-3  text-center bg-zinc-800">
      <li class=" bg-black group">
        <a
          href="/system/overview"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          About</a
        >
      </li>
      <li class=" bg-black group">
        <a
          href="/system/style-guide"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          Contact</a
        >
      </li>
      <li class=" bg-black group">
        <a
          href="#"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          Data Sets
        </a>
      </li>
      <li class=" bg-black group">
        <a
          href="#"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          Defund Racism
        </a>
      </li>



      <li class=" bg-black group">
        <a
          href="https://x.com/shepherds4good"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          @Twitter
        </a>
      </li>
      <li class=" bg-black group">
        <a
          href="https://www.instagram.com/goodshepherdcollective"
          title="link to your page"
          aria-label="your label"
          class="group-hover:text-white w-full h-full flex justify-center p-8">
          @Instagram
        </a>
      </li>
    </ul>
  </div>
</footer>
<footer class="md:px-12 sm:px-8">
  <div class="border-x border-zinc-800 border-y">
    <div class="p-8 lg:px-10 flex flex-col gap-6 text-center uppercase">
      <p class="text-sm text-white tracking-wide">
        © 2022 studiomax Design. All rights reserved
      </p>
      <p class="text-base text-zinc-400 lg:col-span-2 text-balance">
        Studiomax is not affiliated with Stripe, Breeew, Astro, or Tailwind
        Labs, nor is it endorsed or sponsored by them. Designed and built by
        <a
          href="https://michaelandreuzza.com/"
          title="link to your page"
          aria-label="your label"
          class="text-sm text-white hover:text-accent-300"
          >Michael Andreuzza</a
        >, this website was crafted using Astro & Tailwind CSS. Crafted in Åland
        Islands, Finland.
      </p>
     
    </div>
  </div>
</footer>
