<div class="2xl:max-w-7xl mx-auto lg:px-12">
  <div class="w-full mx-auto">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full px-8 mx-auto bg-black border-x border-zinc-800 border-b md:items-center md:justify-between md:flex-row">
      <div class="flex flex-row items-center justify-between md:justify-start">
        <a
          href="/"
          title="link to your page"
          aria-label="your label"
          class="text-white hover:text-white/50 gap-4 items-center tracking-tighter uppercase inline-flex font-medium ml-2 text-sm">
          StudioMax
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-white hover:text-blue-500 focus:outline-none focus:text-white md:hidden"
          ><svg
            class="size-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
            ><path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path><path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path></svg
          ></button
        >
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col flex-grow hidden py-12 bg-black md:py-0 md:flex md:items-end justify-center md:flex-row">
        <ul
          class="list-none text-sm md:ml-auto text-white items-center flex flex-col md:flex-row justify-center font-medium text-center md:text-left gap-6">
          <li>
            <a
              href="/system/overview"
              title="link to your page"
              aria-label="your label"
              class="hover:text-blue-500">
              Overview</a
            >
          </li><li>
            <a
              href="/system/style-guide"
              title="link to your page"
              aria-label="your label"
              class="hover:text-blue-500">
              StyleGuide</a
            >
          </li><li>
            <a
              href="https://lexingtonthemes.lemonsqueezy.com/checkout"
              title="link to your page"
              aria-label="your label"
              class="text-sm py-2 h-16 px-10 focus:ring-2 rounded-full ease-in-out transform duration-500 flex w-full items-center ring-inset font-medium justify-between ring-2 text-white ring-green-600 hover:bg-green-600 hover:text-white">
              Buy StudioMax</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
